/* .parent-card{
    border: 1px solid;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
.child-card{
display: flex;
font-size: 44px;
justify-content: center;
align-items: center;
width: 200px;
    height: 300px;
    border: 2px solid rgb(222, 10, 10);
    position: absolute;
    top: 29%;
    left: 10%;
    
} */
.box{
    width: 200px;
    height: 200px;
    background-color: palegreen;
    position: relative;
}
.box-1{
    position: absolute;
   /* top: 10px;
   left: 10px;
   z-index: -1; */
   bottom: 10px;
   right: 10px;
    width: 200px;
    height: 200px;
    background-color: aqua;

}
:root{
    --dropdown-color:var#e70c0c;

}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
display: none;
    position: absolute;
    background-color: var(--dropdown-color);
min-width: 160px;
box-shadow: 20px 20px;
padding: 12px 16px;
z-index: 1;

}
.dropdown:hover .dropdown-content{
    display: block;
}